.navbar-inverse, .portlet-footer
{
	background: linear-gradient(rgb(0,22,61),rgb(19, 46, 93));
}

.navbar-inverse .navbar-nav>li>a
{
	color:rgb(200,200,200);
}
.navbar-inverse .navbar-nav>li>a:hover
{

	color:rgb(183,98,29);
	/*color:rgb(159,71,0);*/
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
{
	background-color:rgb(0,14,53);
}

.navbar .dropdown-menu
{
	background-color:rgb(0,22,61);
}

.nav .nav-divider
{
	background-color:rgb(0,14,53);
}

.navbar .dropdown-menu>li>a
{
	color:rgb(200,200,200);	
}

.navbar .dropdown-menu>li>a:hover
{
	color:rgb(183,98,29);
	/*color:rgb(159,71,0);*/
}

.navbar .dropdown-menu>li>a:hover
{
	background-color:rgb(19, 46, 93);	
}

/*----------------------------------*/

.portlet-header
{
	background-color: rgb(0,22,61);
	color:rgb(200,200,200);
}

.portlet-tittle
{
	color:rgb(183,98,29);
}

body
{
	background-color:rgb(250,250,250);
}

#main-container
{
	background-color:#ECECEC;
	border: 1px solid rgb(197, 181, 168)
}

.portlet
{
	background-color:rgb(250,250,250);
}

.portlet-tittle h3
{
	font-weight:700;
}