html 
{
	width:100%;
	height:100%;
    margin: 0 auto;
}

body
{
	min-width: 850px !important;
	width:100%;
	height:100%;
	background: none;
}


body div.inner-body
{
	width:100%;
	height:100%;
	max-width: 1000px;
	background: none;
	margin:0 auto;
}

li a
{
	font-variant:small-caps;
}

textarea 
{
    resize: none;
}

#main-container
{
	height:auto;
	min-height:550px;
	background:white;
	/*border-radius: 5px;*/
    /*background: rgba(193, 221, 228, 0.7);*/
	margin: 0 auto;
	display: -webkit-box;
	padding: 0px;
}

#adorno_superior
{
	width:100%;
	height:7px;
	background: #1323e5;
	border-bottom:1px solid #61ce0e;
	margin-bottom:5px;
}

/*-------------------------------MENU-------------------------------*/

.nav .nav-divider
{
	margin:4px 0px;
}

.dropdown-menu>li>a
{
	padding: 2px 20px;
}

.navbar-inverse .navbar-nav>li>a
{
	padding:10px 5px;
}

.menu-option, .submenu-option
{
	cursor:pointer !important;
}
.submenu-option
{
	font-weight: bold !important;
}
.submenu-option.submenu-actual
{
	background:linear-gradient(#ccc, #ddd) !important;
}
/*---------------------------Componentes de Form---------------------------*/

.txtr
{
	text-align:right;
}

.txtc
{
	text-align: center;
}

.txtl
{
	text-align: left;
}

.form-group
{
	margin-bottom:2px;
}

input
{
	padding:1px 3px 1px !important;
	height:1.7em !important;
}

.checkbox_solo
{
	width:30px !important;
	margin:0 auto !important;
}

label
{
	font-weight: 100;
}

.divisor
{
	width:100%;
	height:1px;
	border:none;
	background:#61ce0e;
	margin:10px 0px 10px;
}

.divisor2
{
	width:100%;
	height:1px;
	border:none;
	background:#a2c3d4;
	margin:10px 0px 10px;
}

.form-control
{
	border-radius:0px;
}

.form-group.last
{
	margin-bottom:15px;
}

/*---------------------------Componentes de Portlet---------------------------*/

.portlet-tittle
{
	width:100%;
	/*font-weight: 600;*/
	font-size: 20px;
	color: #666;
	/*text-transform:uppercase;*/
	font-variant: small-caps;
	border:0px solid #aaa;
	border-bottom-width: 1px;
	margin-bottom:10px;
}

.portlet
{
	height:auto;
	border:1px solid #bbb;
	padding: 0px;
	background-color: #f5f5f5;
	margin-bottom: 15px;
	border-radius: 5px 5px 0px 0px;
}

.portlet-header
{
	width:100%;
	padding:3px 10px 3px;
	border:0px solid #bbb;
	border-bottom-width:1px;
	background: linear-gradient(#eee, #ddd);
	display: inline-block;
	/*font-weight: 600;*/
	color: #ccc;
	/*text-transform:uppercase;*/
	font-variant: small-caps;
	border-radius: 5px 5px 0px 0px;
}
.portlet-header h3,
.portlet-tittle h3
{
	display: inline-block;
	margin:3px 10px 3px;
	font-size: 18px;
}

.portlet-content
{
	display: inline-block;
	margin:1%;
	width:98%;
}

.portlet-footer
{
    width: 100%;
    padding: 3px;
    border: 0px;
    border-top: 1px solid #bbb;
    background-color: #e2e2e2;
    display: inline-block;
    font-variant: small-caps;
    text-align: right;
}

.portlet-footer ul
{
	padding:5px 20px;
	margin: 0;
	list-style: none;
}

/*--------------------------TABLAS NORMALES--------------------------*/

.tr_separator
{
	border-bottom:solid 2px #eee !important; 
}

.tabla
{
/*	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border-collapse: separate;
	width:100%;
}

.tabla td, .tabla th
{
	border:solid 1px #d0d0d0;
	padding:2px 5px;
	border-spacing: 5px;
	border-collapse: separate;
}

.tabla th
{
	text-align: center;
	border-collapse: separate;
	background: linear-gradient(#eee, #ddd);
}

.tabla tbody td
{
	border-collapse: separate;
}

.tabla tbody tr:last-child td:first-child
{
	/*border-bottom-left-radius: 5px;*/
}

.tabla tbody tr:last-child td:last-child
{
	/*border-bottom-right-radius: 5px;*/
}

.tabla th:first-child
{
	/*border-top-left-radius: 5px;*/
}
.tabla th:last-child
{
	/*border-top-right-radius: 5px;*/
}

/*--------------------------SELECT 2--------------------------*/
.select2-hidden-accessible
{
	display:none;
}

.select2-container
{
	border:none;
	background: none;
	box-shadow:none;
	padding:0 !important;
}

.select2-drop
{
	border: 1px solid #2B6D81 !important;
}

.select2-choice
{
	position:relative;
	/*top:-5px;*/
}
.select2-results .select2-highlighted
{
	background: #888 !important;
}

.select2-search input
{
	margin-top: 4px !important;
}

/*--------------------------DATEPICKER--------------------------*/

.ui-datepicker td a,
.ui-datepicker-calendar thead tr th
{
	padding:0em !important;
	font-size: .7em !important ;
}

.ui-datepicker-header
{
	font-size:.8em !important;
}


.ui-datepicker
{
	width:13em !important;
}

/*--------------------------Botónes--------------------*/

.btn-evapora
{
	/*padding: 4px 35px;*/
	background: #F8F8F8;
	border: 1px solid #aaa;
	/*border-radius: 4px;*/
	color: #272727;
}
.btn-evapora:active,
.btn-evapora.active,
.open .dropdown-toggle.btn-evapora
{
  	background: #D9D9D9;
  	/*border-width:3px;*/
  	/*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;*/
  	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-evapora.btn-secondary
{
    padding: 2px 10px;
}

.table .btn-evapora
{
	padding-top: 3px;
    padding-bottom: 3px;
    font-size:11px;
}

.checkbox-evapora, .radio-evapora
{
	width:25px;
}

.table>thead>tr>th
{
	padding:2px !important;
	text-align: center !important;
}
.table
{
	margin-bottom: 10px;
}
.table.table-nomargin
{
	margin:0px;
}

.btn-row
{
	padding:2px 10px;
}

.navbar
{
	margin-bottom: 5px;
}

.alert
{
	padding:8px 15px;
	text-align:center;
}

/*------------------------------------*/

.grupo_mostrar .panel-heading
{
	cursor:pointer;
}

ul.list_iconos
{
	list-style: none;
}

ul.list_iconos li
{
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;

	width: 150px;
    height: 175px;
    border:none;
    /*border: 0px solid rgba(88,88,88,0.71);*/
    padding: 5px;
    text-align: center;

    cursor:pointer;
	/*margin-right: 10px;*/
    margin-bottom: 10px;    
}

ul.list_iconos li img
{
	width:128px;
}

.navbar-inverse
{
	background-color: #0064a7;
    border-color: #003152;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .navbar-text
{
	color:white;
}

.navbar-inverse .navbar-link:hover
{
	color:#f88f32;
}

.panel-indexador
{
	border-color: #1577af;
	background:none;
}

.panel-indexador>.panel-heading
{
	color: white;
    background-color: #5dc1f9;
    border-color: #1577af;
}

.label-programa
{
	background-color:#ffdfa7;
	color:#000;
}

.div-img-logo
{
	width:100%;
	height:155px;
}

.helper
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.div-img-logo img
{
    max-width: 128px;
    max-height: 155px;
	vertical-align: middle;
}

.navbar-menu
{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}

.fc td, .fc th
{
	border-color: #487aa5 !important;
}

.fc-unthemed td.fc-today
{
	background: #c1dae6 !important;
}

.list_iconos2
{
	list-style: none;
}
.list_iconos2 .logo
{
	max-width: 40px;
	max-height: 40px;
}
.border-tab
{
	border: 1px solid #3b6c80;
    background: rgba(150, 186, 208, 0.28);
    padding: 20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	padding-right: 0px;
	padding-left: 0px;
}
.form-horizontal .form-group
{
	margin-right: 0px;
	margin-left: 0px;
}
h3.titulo
{
	font-size: 16px;
    color: #31708f;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-final-icon
{
	font-size: 18px;
}

.final-buttons
{
	text-align: right;
	color: black;
}
.header-buttons
{
	text-align: right;
	color: black;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 5px 15px;	
    background: #eee;
}
.final-buttons>button
{
	margin-top: 8px;
}

/*--------------------------------------------------*/

.sidebar
{
    margin: 0;
    padding: 0;
    width: 30px;
    background-color: #ddd;
    /*border: 1px solid #42880c;*/
    border: none;
    border-width: 0 1px 1px 0;
    height: 100%;
    position: fixed;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    /*-webkit-transition:height .2s linear;*/
	transition:width .05s linear;
	/*transition:height .2s linear;*/
	-webkit-transform:translateZ(0) scale(1,1);
    z-index: 99;	
}
.sidebar:hover
{
	overflow: visible;
	width:200px;
	height: 100%;
}
.sidebar ul
{
    list-style-type: none;
    padding:0px;
    height: 100%
}

.sidebar ul li
{
    padding: 0px;
    font-size: 16px;
}
.sidebar ul li.submenu
{
	display:none;
    background: #d4d4d4;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #c3c3c3;
}

.sidebar ul li a
{
	display:block;
	width:200px;
	color: #555;
	text-decoration: none;
	padding-top: 4px;
    padding-bottom: 4px;
}

.sidebar ul li a:hover
{
	/*background:#2c580a;*/
	color:#52af0b;
	font-weight:bolder;
}

.sidebar ul li a i
{
	width: 30px;
    text-align: center;
}

.sidebar ul li.submenu ul
{
	margin-left:10px;
}
.sidebar ul li.submenu a
{
	width:190px;
}

.sidebar ul li.submenu a:hover
{
	/*background: #2c580a;*/
}

#upper-body
{
	position: relative;
	width: 100%;
	height:70px;
    display: block;
    padding: 6px;
    margin-bottom: 5px;
    /*border: 1px solid #0c4f67;*/
    color: #1323e5;
    /*background: #166a88;*/
    background:url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: 250px;
}


#upper-inner-body
{
	/*text-transform: uppercase;*/
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:100%;
	/*text-align: center;*/
	/*font-weight: bold;*/
	/*font-size:18px;*/
    background:url("../images/header2.png");
    background-repeat: no-repeat;
    background-position: right center; 
}

#titulo-modulo
{
	text-transform: uppercase;
	position:absolute;
	left:0;
	right:0;
	text-align: center;
	font-weight: bold;
	font-size:18px;

}

#titulo-seccion
{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	position:absolute;
	left:0;
	right:0;
	top:25px;
	font-size:14px;
}

#nombre_usuario
{
	text-transform: uppercase;
	text-align: center;
	/*font-weight: bold;*/
	position:absolute;
	left:0;
	right:0;
	top:50px;
	font-size:10px;
}

select.form-control
{
	height: 24px;
    padding: 3px 2px;
}
ul.lista
{
	list-style:none;
}

.border-tab
{
	border: 2px solid #dddddd;
    background: #fbfbfb;
    padding: 20px 10px;
}

.border-div
{
	border: 2px solid #dddddd;
    background: #fbfbfb;
    padding: 20px 10px;
}

/*------------------DIALOG-------------------*/
/*.ui-dialog-titlebar.ui-widget-header
{
	display:none;
}
.ui-dialog-buttonset
{
	float:none !important;
}
.ui-dialog .ui-dialog-buttonpane
{
	padding:0px !important;
	text-align:center;
}*/


/*.ui-widget-content.ui-dialog
{
    border: 1px solid #3b6a7b !important;
	border-radius:0px !important;
	padding:0px !important;    
}

.ui-widget-header
{
    border: 1px solid #3b6a7b !important;
    background: #427d92 !important;
    color: #acb9bd !important;
    font-weight: bold !important;
    border-radius:0px !important;
}
*/
.ui-widget-content.ui-dialog .ui-dialog-buttonpane
{
    border: none !important;
    /*border-top: 1px solid #3b6a7b !important;*/
	
}
.nav-tabs>li>a
{
    color: #428bca;
    border: 1px solid #69a1b5;
    border-bottom: none;
}
.nav-tabs>li>a:hover
{
	background-color: #b3deef;
	border-color: #166a88;
}


.sin_espaciado
{
	margin-bottom: 0px !important;
}

.full-width
{
	width: 100%;
}

.formsInvisible .formError
{
	visibility:hidden;
}

.dataTables_wrapper select,.dataTables_wrapper input
{
	color:#2e6e9e !important;
} 

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#error_message_dialog span
{
	display: block;
    text-align: center;
    width: 100%;
}

#error_message_icon
{
	font-size: 80px;
}

.dialog_sin_header .ui-dialog-titlebar
{
	display:none;
}

.dialog_sin_header .ui-dialog-buttonpane
{
    margin-top: 0px !important;
    padding: 4px !important;

}

.dialog_sin_header .ui-dialog-buttonpane button
{
	margin: 2px 10px !important;
}

.dialog_sin_header .ui-dialog-buttonset
{
	float:none !important;
    text-align: center !important;
}

#listar_tickets_tabla_filter
{
	display:none;
}

.formError
{
	text-align: center !important;
    width: 250px !important;
}

table.dataTable thead th, table.dataTable thead td
{
	padding:6px 12px 6px 4px;
	font-size:12px;
}

table.dataTable thead th div.DataTables_sort_wrapper span
{
    right: -14px;
}

.nav.nav-tabs
{
	background:linear-gradient(#eee, #ddd);
	/*height:32px;*/
}

ul.nav-tabs li
{
	height:100%;
}

ul.nav-tabs li a
{
	height:100%;
	padding:10px 12px;
	text-transform: uppercase;
    font-size: 11px;
    font-variant: normal;
    border:none;
    background:none;
    color:#1323e5;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
    color:#1323e5;
    font-weight: bolder;
    background:none;
    border:none;
}

.btn-buscar, .btn-buscar:focus
{
    background: linear-gradient(#4db100,#2b8208);
    border: 2px solid #50a900;
    color: #fff;
}

.btn-buscar:hover, .btn-buscar:visited
{
	color:#fff;
    background: linear-gradient(#2b8208,#429402);
}


.btn-accion, .ui-widget button, .ui-widget button:focus
{
    background: linear-gradient(#eee, #ccc);
    border: 1px solid #999ab3;
    color: #393e75;
    border-radius: 5px;
}

.btn-accion:hover, .btn-accion:visited, .ui-widget button:hover, .ui-widget button:visited
{
	color:#1323e5;
    background: linear-gradient(#ccc,#eee);
}

.ui-widget-header
{
    border: 1px solid #1323e5;
    background: linear-gradient(#1323e5,#121c9c);
    color: #fff;
    min-height: 25px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
	border: 1px solid #dddddd;
    background: linear-gradient(#eee,#ccc);
    font-weight: bold;
    color: #1323e5;
}

.dataTables_wrapper .ui-toolbar
{
	padding: 4px 10px 2px;
}

.ui-widget.ui-widget-content
{
	border: 1px solid #777777;
}

.progress
{
	margin-bottom:0px;
}

.carta-resumen
{
	color: #31708f;
	background: #d9edf7;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #bce8f1;
}

.inlinediv
{
	display: inline-block;
	margin-bottom:5px;
}

/*CORRECCION DE TAMAÑOS*/
.w40
{
	width:40% !important;
}
.w43
{
	width:43% !important;
}
.w45
{
	width:45% !important;
}
.w48
{
	width:48% !important;
}
.w50
{
	width:50% !important;
}

table.dataTable tbody th, table.dataTable tbody td
{
	padding: 3px 10px;
	border: 1px solid #e8e8e8;
}

.form-group label
{
	padding-left: 10px;
}
.form-check
{
	position: relative;
    display: flex;
    padding-left: 1.25rem;
}


.form-check label
{
	padding-left: 0px;
	margin-bottom:0px;
}
.form-check input
{
	height:1em !important;
	margin-top:0px;
	zoom: 1.5;
}

.form-check-inline 
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

/*----------------------------------*/

.submenu-option:hover
{
	background: linear-gradient(#9ada69,#eee);
}

tr.row_informativo
{
	background-color:#c7d2e2 !important;
	
}

tr.row_informativo td
{
	border-color:#c7d2e2 !important;

}

.ui-dialog-titlebar
{
	background:linear-gradient(#eee, #ddd);
	color:#31708f;
	border: 1px solid #b1b1b1;
}

.ui-widget-overlay 
{
    background: #000;
    opacity: .5;
    filter: Alpha(Opacity=50);
}

tr.row-editando
{
	background-color: #a4bd90 !important;
}

tr.row-editando td
{
	border: 1px solid #859e71 !important;
}

label.pr10
{
	padding-right: 10px !important;
}

.dataTables_wrapper .dataTables_paginate .fg-button
{
	padding:4px;
	border-radius:0px !important;
    font-weight: normal !important;
    color: #333;
}

.dataTables_wrapper .dataTables_paginate
{
	padding-bottom: 0.25em;
}

input[type=radio]
{
	height: auto !important;
}
/*-----------------FONTS----------------*/

.txt-sm
{
	font-size:12px !important;
}

select.txt-sm
{
	height: auto;
    padding: 2px 2px 1px;
}